<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="bar::head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viePort" content="width=device-width,initial-scale=1.0,maximum-scale=1">
    <title>首页</title>
</head>
<body>
    <!--顶部导航-->
    <div th:replace="bar::header"></div>

    <!--中间内容-->
    <div id="pjax-container">
        <div class="m-container m-padded-tb-big animated fadeInUpBig">
            <div class="ui container">
                <div class="ui stackable grid">
                    <!--博客左边内容-->
                    <div class="eleven wide column">
                        <!--博客列表header-->
                        <div class="ui top attached segment m-bg">
                            <div class="ui middle aligned two column grid">
                                <div class="column">
                                    <h3 class="ui blue header">博客</h3>
                                </div>
                                <div class="right aligned column">
                                    共 <h2 class="ui m-mycolor header m-inline-block m-text-thin" th:text="${pageInfo.total}"> 20 </h2> 篇
                                </div>
                            </div>
                        </div>
                        <!--博客列表content-->
                        <div class="ui attached segment m-bg">
                            <div class="ui padded vertical segment m-padded-tb" th:each="blog : ${pageInfo.list}">
                                <div class="ui padded middle aligned mobile reversed stackable grid">
                                    <!--正文-->
                                    <div class="eleven wide column">
                                        <h3 class="ui header"><a href="#" target="_blank" th:href="@{/sunnyblog/{id}(id=${blog.id})}" class="m-black" th:text="${blog.title}">这里是标题</a></h3>
                                        <p class="m-text" th:text="|${blog.description}......|">正确</p>
                                        <div class="ui grid">
                                            <div class="ui eleven wide column">
                                                <div class="ui small horizontal link list">
                                                    <div class="item">
                                                        <img th:src="@{${blog.avatar}}" class="ui avatar image" alt="" src="">
                                                        <div class="content"><a href="" data-pjax class="header m-mycolor" th:text="${blog.nickname}">Sunny</a></div>
                                                    </div>
                                                    <div class="item">
                                                        <i class="icon small calendar"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}"> 2020-07-30</span>
                                                    </div>
                                                    <div class="item">
                                                        <i class="icon small eye"></i><span th:text="${blog.views}"> 9999</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right aligned five wide column">
                                                <a href="" data-pjax th:href="@{/sunnyblog/types/{id}(id=${blog.typeId})}" target="_blank" class="ui blue basic label m-padded-tiny m-text-thin"
                                                   th:text="${blog.typeName}">生活常识</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--图片-->
                                    <div class="five wide column">
                                        <a href="" th:href="@{/sunnyblog/{id}(id=${blog.id})}" target="_blank">
                                            <img th:src="${blog.firstPicture}" alt="" class="ui rounded image m-image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--博客列表footer-->
                        <!--分页条第二版-->
                        <div class="ui attached segment m-bg">
                            <div class="ui stackable center aligned grid">
                                <div th:if="${pageInfo.pages}>1">
                                    <a href="" data-pjax th:href="@{/sunnyblog/(pageNum=${pageInfo.prePage})}"
                                       class="ui button basic mini" th:if="${pageInfo.prePage}">上一页</a>
                                </div>
                                <div class="center aligned m-margin-top-small">
                                    第
                                    <span class="m-mycolor" th:text="${pageInfo.pageNum}">
                                                1
                                            </span>
                                    页/共
                                    <span class="m-mycolor" th:text="${pageInfo.pages}">
                                                9
                                            </span>
                                    页 共
                                    <span class="m-mycolor" th:text="${pageInfo.total}">
                                                9
                                            </span>
                                    条
                                </div>
                                <div class="ui icon transparent input" th:if="${pageInfo.pages} > 2">
                                    <input type="text" placeholder="页码" id="pageNums" style="width: 60px">
                                    <button id="pageTo" class="ui button small m-bg-bar">跳转</button>
                                </div>
                                <div th:if="${pageInfo.pages}>1">
                                    <a href="" data-pjax th:href="@{/sunnyblog/(pageNum=${pageInfo.nextPage})}"
                                       class="ui button basic mini" th:if="${pageInfo.nextPage}">下一页</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--博客右边内容-->
                    <div class="five wide column">
                        <!--多个片段-->
                        <!--分类模块-->
                        <div class="ui segments">
                            <div class="ui secondary segment m-bg">
                                <div class="ui two column grid">
                                    <div class="column">
                                        <i class="small icon bookmark"></i>分类
                                    </div>
                                    <div class="right aligned column">
                                        <a href="" data-pjax th:href="@{/sunnyblog/types/-1}" target="_blank" class="m-black">more  <i class="icon angle double right small"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="ui segment m-bg">
                                <div class="ui fluid vertical menu m-bg">
                                    <a href="#" data-pjax th:href="@{/sunnyblog/types/{id}(id=${type.id})}" target="_blank" class="item" th:each="type : ${types}">
                                        <span th:text="${type.name}">日常生活</span>
                                        <div class="ui blue basic left pointing label" th:text="${type.typeBlogs}">13</div>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <!--标签模块-->
                        <div class="ui segments m-margin-top-large">
                            <div class="ui secondary segment m-bg">
                                <div class="ui two column grid">
                                    <div class="column">
                                        <i class="icon tags small"></i>标签
                                    </div>
                                    <div class="right aligned column">
                                        <a href="" data-pjax th:href="@{/sunnyblog/tags/-1}" target="_blank" class="m-black">more  <i class="icon angle double right small"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="ui segment m-bg">
                                <a href="" data-pjax th:href="@{/sunnyblog/tags/{id}(id=${tag.id})}" th:each="tag : ${tags}" target="_blank" class="ui basic label m-margin-tb-tiny m-bg">
                                    <span th:text="${tag.name}">JavaSE</span>
                                    <div class="detail" th:text="${tag.tagBlogs}">23</div>
                                </a>
                            </div>

                        </div>
                        <!--最新推荐-->
                        <div class="ui segments m-margin-top-large">
                            <div class="ui secondary segment m-bg">
                                <div class="ui two column grid">
                                    <div class="column">
                                        <i class="icon thumbs up small"></i>最新推荐
                                    </div>
                                </div>
                            </div>
                            <div class="ui segment m-bg" th:each="blog :${recommendedBlogs}">
                                <a href="" th:href="@{/sunnyblog/{id}(id=${blog.id})}" target="_blank" th:text="${blog.title}" class="m-black m-text-thin">
                                    Springboot启动原理
                                </a>
                            </div>

                        </div>
                        <!--二维码-->
                        <div class="m-margin-top-large">
                            <h4 class="ui horizontal divider header">扫码关注我</h4>
                            <div class="ui centered card" style="width: 11em">
                                <img src="https://i.loli.net/2020/08/10/nJX9C3PAfcjhylF.jpg" alt="" class="ui rounded image">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script>
            //页码跳转
            $('#pageTo').click(function () {
                let val = $('#pageNums').val();
                location.href = "/sunnyblog/?pageNum="+val;
            })
        </script>
    </div>

    <!--底部footer-->
    <div th:replace="bar::musicFooter"></div>


    <!--由于thymeleaf模板的独特性，此代码在模板中是可用的，但是在静态页面中是一行注释-->
    <!--/*/<th:block th:replace="bar::script"></th:block>/*/-->

    <script>
        $('.menu.toggle').click(function () {
            $('.m-item' ).toggleClass('m-mobile-hide');  //导航栏手机端点击隐藏和显示
        })
        //页码跳转
        $('#pageTo').click(function () {
            let val = $('#pageNums').val();
            location.href = "/sunnyblog/?pageNum="+val;
        })
    </script>
    <script>
        $(function() {
            $(document).pjax('a[data-pjax]', '#pjax-container',{fragment: '#pjax-container',timeout: 8000, type: 'GET'});

            $(document).on('submit', 'form', function(event) {
                //var container = $(this).closest('[pjax-container]');
                $.pjax.submit(event, '#pjax-container', {
                    fragment:'#pjax-container', timeout:8000
                });
            });

            $(document).on('pjax:send', function() {
                $(".loading").css("display", "block");
            });

            $(document).on('pjax:complete', function() {
                $(".loading").css("display", "none");
            });
        })
    </script>

</body>
</html>
